@mixin transitionBG {
  transition: background 1s linear;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
}

@mixin transitionColor {
  transition: color 1s linear;
  -webkit-transition: color 1s linear;
  -moz-transition: color 1s linear;
}

$bp-xs: 0px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

  .container-fluid {
    width: 100vw;
    height: 100vh;
    @include transitionBG;

    .card {
      height: 50vh;
      min-height: 200px !important;
      max-width: 90vw;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;

      @media (min-width: $bp-xs) and (max-width: $bp-sm) {
        @media (orientation: portrait) {
          max-height: 40vh;
        }
      }

      @media (min-width: $bp-sm) and (max-width: $bp-md) {
        max-width: 65vw;

        @media (orientation: landscape) {
          height: 60vh;
        }
      }

      @media (min-width: $bp-md) and (max-width: $bp-lg) {
        max-width: 55vw;

        @media (orientation: landscape) {
          height: 65vh;
        }

        @media (orientation: portrait) {
          height: 35vh;
        }
      }

      @media (min-width: $bp-lg) and (max-width: $bp-xl) {
        max-width: 45vw;
      }

      @media (min-width: $bp-xl) and (max-width: $bp-xxl) {
        max-width: 40vw;
      }

      @media (min-width: $bp-xxl) {
        max-width: 35vw;
      }

      #quote {

        @media (max-width: $bp-md),
        (max-height: 650px) {
          font-size: 1.2rem !important;
        }
      }

      #author {

        @media (max-width: $bp-md),
        (max-height: 650px) {
          font-size: 1rem !important;
        }
      }

      .transition-color {
        @include transitionColor;
      }

      .transition-bg {
        @include transitionBG;
      }
    }
  }
}