@mixin transitionBG {
  transition: background 1s linear;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
}

@mixin transitionColor {
  transition: color 1s linear;
  -webkit-transition: color 1s linear;
  -moz-transition: color 1s linear;
}

$bp-xs: 0px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

  .container-fluid {
    width: 100vw;
    height: 100vh;
    @include transitionBG;

    .card {
      height: 50vh;
      max-width: 90vw;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;

      @media (min-width: $bp-sm) and (max-width: $bp-md) {
        max-width: 65vw;
        max-height: 50vh;
      }

      @media (min-width: $bp-md) and (max-width: $bp-lg) {
        max-width: 55vw;
        max-height: 50vh;
      }

      @media (min-width: $bp-lg) and (max-width: $bp-xl) {
        max-width: 45vw;
        max-height: 50vh;
      }

      @media (min-width: $bp-xl) and (max-width: $bp-xxl) {
        max-width: 40vw;
        max-height: 50vh;
      }

      @media (min-width: $bp-xxl) {
        max-width: 35vw;
        max-height: 50vh;
      }

      .transition-color {
        @include transitionColor;
      }

      .transition-bg {
        @include transitionBG;
      }
    }
  }
}