@mixin transitionBG {
  transition: background 1s linear;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
}

@mixin transitionColor {
  transition: color 1s linear;
  -webkit-transition: color 1s linear;
  -moz-transition: color 1s linear;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

  .container-fluid {
    width: 100vw;
    height: 100vh;
    @include transitionBG;

    .well {
      width: 600px;
      height: 350px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      #quote-box {
        height: 350px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        h4 {
          margin-top: 20px;
          font-weight: 400;
        }

        #buttons {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 500px;

          .fab {
            font-size: 4.6rem;
            color: white;
          }

          .btn {
            padding: 10px;
            background-color: white;
            border: none;
          }

          .btn:focus {
            box-shadow: none !important;
          }

          #new-quote {
            color: white;
          }
        }

        >* {
          margin: 20px;
        }
      }
    }
  }
}